.container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.clockface {
  font-size: xx-large;
  font-weight: 900;
  color: hotpink;
}

.buttonStop {
  cursor: pointer;
  width: 200px;
  height: 100px;
  margin: 0 auto;
  border: none;
  border-radius: 30px;
  background-color: skyblue;
  color: hotpink;
  font-size: xx-large;
  font-weight: 900;
}
